@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 16px;
  color: #3d1e0d; /* Very dark brown */
  font-family: 'Merriweather', serif;
  background: url('/public/background.jpg') no-repeat center center fixed; 
  background-size: 100% auto;
}
